@import './animations';

.card {
    font-family: 'Poppins', sans-serif;
    animation: cardEntrance 1s ease-out;
    animation-fill-mode: backwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #f0f0f0;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    &:hover {
        transform: translateY(-3px) scale(1.02);
        filter: hue-rotate(20deg);
    }
}

.card:nth-child(1) {
    background: linear-gradient(to bottom, #c24d2c 80%, #d6c6bd);
    grid-area: a;
    animation-delay: calc(4 * var(--stagger-delay));
}
.card:nth-child(2) {
    background: linear-gradient(to top,#1a2639, #172233);
    grid-area: b;
    animation-delay: calc(1 * var(--stagger-delay));
}
.card:nth-child(3) {
    background: linear-gradient(to bottom, #b9b9b8, #a0a09f);
    grid-area: c;
    animation-delay: calc(2 * var(--stagger-delay));
}
.card:nth-child(4) {
    background: linear-gradient(to bottom, #3e4a61, #2c3647);
    grid-area: d;
    animation-delay: calc(3 * var(--stagger-delay));
}

/* SMARTPHONES */
@media screen and (max-width: 768px) {
    .content{
        margin: 1.5em;
        grid-template-areas:
            'a'
            'b'
            'c'
            'd';
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
    }
}
